@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.watchList-action-btn{
  display: none;
  cursor: pointer;
}
.movie-card:hover .watchList-action-btn{
  display: block;
}

.sorting-icon{
  height: 20px;
    margin: 5px;
    width: 10px;
    display: inline-block;
    cursor: pointer;
}
.movie-card-container {
  border: 1px solid #ddd;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}